<div class="container">
  <h1>Profiles</h1>
  <div class="users">
    @for (user of users; track $index) {
    <app-profile [userProfile]="user" (passDataToRoot)="receiveData($event)"></app-profile>
    } @empty {
    <p>Users list is empty</p>
    }
  </div>
  <div class="reset-selection" (click)="onResetLink()">
    @if (selectedLink.link != "") {
    <div class="selected-link">
      You selected <span>{{selectedLink.link}}
      </span> </div>
    } @else {
    <div class="selected-link">please select a link</div>
    }
  </div>
</div>