<div class="container">
  <div class="sub-container">
    <!-- <h1>User Profile</h1> -->
    <div>
      <div class="profile-infos">
        <app-user-profile></app-user-profile>
        <app-user-location></app-user-location>
      </div>
      <div class="social-links">
        @for (link of linkTab; track $index) {
          <app-social-link [link]="link" (clickedLink)="onClickedLink($event)" [class]="link"></app-social-link>
        }
      </div>      
    </div>
    @if (selectedLink != '') {
      <div class="selected-link">You selected {{selectedLink}} </div>
    } @else {
      <div class="selected-link">please select a link</div>
    }
  </div>
</div>