.social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}


.sub-container {
    border: 2px solid lightblue;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    width: 250px;
}

.profile-infos {
    margin-bottom: 30px;
}